/.config
.env
.rvmrc
/InstalledFiles
/spec/examples.txt
/vendor/bundle

*.gem
*.rbc

/.bundle/
/.yardoc/
/_yardoc/
/coverage/
/doc/
/hax/
/lib/bundler/man/
/pkg/
/rdoc/
/spec/reports/
/stock/
/test/tmp/
/test/version_tmp/
/tmp/
/train/
